@import './base.less';
@import './flex.less';
@import './toast.less';
@import './input-popup.less';
@import './confirm-popup.less';
@import './drop-down-select-popup.less';
@import './drop-down-select-tooltip.less';
@import './pagination.less';
@import './action-sheet.less';

@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

body {
    position        : relative;
    width           : 100%;
    height          : 100%;
    padding         : 0px;
    margin          : 0px;
    font-size       : 14px;
    color           : @black2;
    background-color: #f1f1f1;

    .windows-header,
    .windows-content-container,
    .random-pagination,
    .copyright-component,
    .mobile-header,
    .mobile-list,
    .mobile-load,
    .multiple-select {
        color: @black2;
    }
}

.windows-header {
    width        : 100%;
    height       : 46px;
    background   : #fff;
    border-bottom: 1px solid #ddd;

    .header-tag {
        padding: 0px 15px;
    }

    .left-operating {
        padding-left : 7.5px;
        padding-right: 25px;

        .operat-item {
            padding: 7.5px;
        }
    }

    .right-operating {
        padding-left : 25px;
        padding-right: 7.5px;

        .operat-item {
            padding: 7.5px;
        }
    }

    .hover-item {
        cursor            : pointer;
        transition        : color 0.25s;
        -moz-transition   : color 0.25s;
        /* Firefox 4 */
        -webkit-transition: color 0.25s;
        /* Safari 和 Chrome */
        -o-transition     : color 0.25s;
        /* Opera */
        transition        : background-color 1s;
        -moz-transition   : background-color 1s;
        /* Firefox 4 */
        -webkit-transition: background-color 1s;
        /* Safari 和 Chrome */
        -o-transition     : background-color 1s;
        /* Opera */
    }

    .hover-item:hover {
        color           : @black1;
        background-color: rgba(0, 0, 0, 0.08);
    }

    .search {
        height : 32px;
        padding: 0px 15px;

        .search-container {
            height          : 32px;
            border-radius   : 16px;
            overflow        : hidden;
            background-color: #f1f1f1;
        }

        .search-input input {
            padding: 0px;
        }

        .cancel-icon,
        .search-icon {
            padding: 0px 15px;
            cursor : pointer;

            path {
                fill: @black3;
            }
        }

        .cancel-icon:hover path,
        .search-icon:hover path {
            fill: #ff4d4f;
        }

    }
}

.windows-content-container {
    padding: 25px;

    .content-list {
        .list-float {
            overflow: hidden;

            >div {
                float: left;
            }
        }

        .list-item {
            width  : 176px;
            padding: 0px 7.5px 15px 7.5px;

            .list-item-container {
                border          : 1px solid #fff;
                padding         : 15px;
                height          : 90px;
                background-color: #fff;
                border-radius   : 4px;
                word-wrap       : break-word;
                overflow        : hidden;
                cursor          : pointer;
            }
        }

        .list-item-selected .list-item-container {
            border: 1px solid #1890ff;
        }
    }

    .content-detail {
        padding-left: 25px;

        .content-detail-container {
            position        : relative;
            padding         : 15px;
            width           : 640px;
            background-color: #fff;
        }

        .detail-preview {
            padding-bottom: 45px;

            .detail-preview-title {
                padding-bottom: 7.5px;
                font-size     : 16px;
                border-bottom : 1px solid #ddd;
                text-overflow : ellipsis;
                white-space   : nowrap;
                overflow      : hidden;
            }

            .detail-record-content {
                padding: 15px 0px;
            }

            .detail-diary-item {
                padding-top   : 15px;
                padding-bottom: 10px;

                .detail-diary-title {
                    font-size: 12px;
                    color    : @black3;
                }

                .detail-diary-description {
                    padding-top: 2.5px;
                    color      : @black1;
                }
            }
        }

        .list-image {
            padding-bottom: 5px;

            .list-image-title {
                padding-bottom: 5px;
                font-size     : 12px;
            }

            .list-image-container {
                overflow: hidden;
            }

            .list-image-item {
                float  : left;
                padding: 0px 15px 15px 0px;

                .image-item-container {
                    border          : 1px solid #fff;
                    height          : 135px;
                    width           : 135px;
                    background-color: #fff;
                    overflow        : hidden;
                    cursor          : pointer;

                    img {
                        display: block;
                        width  : 100%;
                        height : 100%;
                    }
                }

                .image-item-container:hover {
                    border: 1px solid #1890ff;
                }
            }
        }

        .detail-operate {
            position  : absolute;
            left      : 0px;
            bottom    : 0px;
            width     : 100%;
            height    : 45px;
            border-top: 1px solid #ddd;

            .flex-rest {
                height      : 45px;
                border-right: 1px solid #ddd;
                cursor      : pointer;
            }
        }
    }
}

.random-pagination {
    .random-pagination-container {
        height          : 45px;
        width           : 360px;
        cursor          : pointer;
        color           : #fff;
        background-color: #1890ff;
    }
}

.copyright-component {
    padding-top   : 25px;
    padding-bottom: 5px;

    .copyright-describe {
        text-align: center;
        font-size : 14px;
    }
}

.mobile-header {
    position     : fixed;
    width        : 100%;
    background   : #fff;
    border-bottom: 1px solid #ddd;
    z-index      : 1;

    .header-filter {
        height       : 25px;
        border-bottom: 1px solid #ddd;

        .header-filter-separation {
            width       : 65px;
            height      : 25px;
            border-left : 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
    }

    .header-operating {
        height: 45px;
    }

    .left-operating {
        padding-left: 15px;
    }

    .right-operating {
        padding-right: 15px;
    }

    .search {
        height : 32px;
        padding: 0px 15px;

        .search-container {
            height          : 32px;
            border-radius   : 16px;
            overflow        : hidden;
            background-color: #f1f1f1;
        }

        .search-input input {
            padding: 0px;
        }

        .cancel-icon,
        .search-icon {
            padding: 0px 15px;
            cursor : pointer;

            path {
                fill: @black3;
            }
        }

        .cancel-icon:hover path,
        .search-icon:hover path {
            fill: #ff4d4f;
        }

    }
}

.mobile-list {
    padding-top: 87px;

    .list-item {
        padding-bottom: 15px;

        .list-item-container {
            position      : relative;
            padding-bottom: 45px;
            border-top    : 1px solid #ddd;
            border-bottom : 1px solid #ddd;
            background    : #fff;
        }
    }

    .list-item-title {
        padding      : 0px 15px;
        line-height  : 45px;
        border-bottom: 1px solid #ddd;
        font-size    : 16px;
        font-weight  : bold;
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow     : hidden;
        color        : @black1;
    }

    .list-item-content {
        padding   : 15px;
        word-break: break-all;
    }

    .image-show {
        padding: 15px;

        .image-show-container {
            overflow: hidden;
        }

        .image-show-item {
            float  : left;
            padding: 0px 15px 15px 0px;

            .image-item-container {
                border          : 1px solid #fff;
                height          : 135px;
                width           : 135px;
                background-color: #fff;
                overflow        : hidden;
                cursor          : pointer;

                img {
                    display: block;
                    width  : 100%;
                    height : 100%;
                }
            }

            .image-item-container:hover {
                border: 1px solid #1890ff;
            }
        }
    }

    .list-item-operating {
        position  : absolute;
        bottom    : 0px;
        left      : 0px;
        height    : 45px;
        width     : 100%;
        border-top: 1px solid #ddd;

        .operating-tag {
            padding-left: 15px;
        }

        .operating-navigate {
            height      : 45px;
            width       : 120px;
            border-left : 1px solid #ddd;
            border-right: 1px solid #ddd;
        }

        .operating-time {
            text-align   : right;
            padding-right: 15px;
        }
    }
}

.mobile-load {
    padding-top: 15px;

    .mobile-load-container {
        height          : 45px;
        border-top      : 1px solid #ddd;
        background-color: #fff;
    }
}

.multiple-select {
    .react-basic-checkbox {
        .checkbox-container {
            cursor: pointer;
        }

        .checkbox-name {
            border     : 1px solid #ddd;
            line-height: 32px;
            padding    : 0px 15px;
        }

        .checkbox-name-select {
            color     : #fff;
            background: rgb(121, 182, 242);
        }

        .checkbox-disable {
            line-height: 32px;
            width      : 23px;
            text-align : center;
            border     : 1px solid #ddd;
        }

        .checkbox-disable-effect,
        .checkbox-name-disable {
            color     : #fff;
            background: @black3;
            border    : 1px solid @black3;
        }

        .checkbox-disable {
            border-left: none;
        }
    }

    .multiple-select-fast {
        padding-bottom: 15px;
    }

    .multiple-select-list {
        width         : 320px;
        overflow      : hidden;
        padding-bottom: 15px;

        .react-basic-checkbox {
            float  : left;
            padding: 7.5px
        }
    }

    .multiple-select-result {
        border-top : 1px solid #ddd;
        padding-top: 15px;
        overflow   : hidden;

        .multiple-result-container {
            float  : left;
            padding: 7.5px
        }

        .multiple-result-item {
            border     : 1px solid #ddd;
            line-height: 32px;
            padding    : 0px 15px;
        }
    }
}