@import './base.less';
@import './flex.less';
@import './toast.less';
@import './input-popup.less';
@import './confirm-popup.less';
@import './drop-down-select-popup.less';

@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

body {
    position        : relative;
    width           : 100%;
    height          : 100%;
    padding         : 0px;
    margin          : 0px;
    font-size       : 14px;
    color           : @black2;
    background-color: #f1f1f1;
}

.windows {
    padding: 15px;
}

.windows .windows-container {
    width         : 1265px;
    padding-bottom: 15px;

    .windows-separation {
        width: 25px;
    }

    .windows-container-left {
        background: #fff;

        .title-input {
            padding      : 15px;
            height       : 32px;
            border-bottom: 1px solid #ddd;

            input {
                font-size: 18px;
            }
        }

        .content-input {
            position: relative;

            textarea {
                color: @black2;
            }

            .data-type-selected {
                top        : 15px;
                right      : 15px;
                position   : absolute;
                font-size  : 16px;
                font-weight: bold;
                cursor     : pointer;
            }
        }

    }

    .windows-container-right {
        .soft-operate {
            padding-bottom: 15px;
            color         : #fff;
            cursor        : pointer;

            .soft-operate-item {
                height          : 45px;
                border-right    : 1px solid #ddd;
                background-color: #1890ff;
            }

            .soft-operate-item:hover {
                color           : #fff;
                background-color: #52c41a;
            }
        }

        .tag-selected {
            padding-bottom: 5px;

            .tag-selected-title {
                padding-bottom: 5px;
                font-size     : 12px;
            }

            .tag-selected-container {
                overflow: hidden;
            }

            .tag-selected-item {
                float  : left;
                padding: 0px 7.5px 7.5px 0px;

                .tag-item-container {
                    border          : 1px solid #fff;
                    padding         : 0px 15px;
                    height          : 32px;
                    background-color: #fff;
                    border-radius   : 4px;
                    word-wrap       : break-word;
                    overflow        : hidden;
                    cursor          : pointer;
                }

                .tag-item-container:hover {
                    border: 1px solid #1890ff;
                }
            }
        }

        .list-image {
            padding-bottom: 5px;

            .list-image-title {
                padding-bottom: 5px;
                font-size     : 12px;
            }

            .list-image-container {
                overflow: hidden;
            }

            .list-image-item {
                float  : left;
                padding: 0px 15px 15px 0px;

                .image-item-container {
                    border          : 1px solid #fff;
                    height          : 135px;
                    width           : 135px;
                    background-color: #fff;
                    overflow        : hidden;
                    cursor          : pointer;

                    img {
                        display: block;
                        width  : 100%;
                        height : 100%;
                    }
                }

                .image-item-container:hover {
                    border: 1px solid #1890ff;
                }
            }
        }

        .other-input {
            .content-input {
                padding-bottom: 15px;

                .content-input-title {
                    padding-bottom: 5px;
                    font-size     : 12px;
                }

                textarea {
                    background-color: #fff;
                }
            }
        }
    }
}

.windows .windows-operate {
    width : 1265px;
    color : #fff;
    cursor: pointer;

    .windows-operate-item {
        height          : 45px;
        border-right    : 1px solid #ddd;
        background-color: #1890ff;
    }

    .windows-operate-item:hover {
        color           : #fff;
        background-color: #52c41a;
    }
}

.mobile-edit {
    padding: 25px 15px 0px 15px;

    .edit-title {
        color         : @black1;
        padding-bottom: 10px;
    }

    .edit-required {
        color: #F23F40;
    }

    .edit-input {
        padding-bottom: 15px;

        input {
            border    : 1px solid #ddd;
            height    : 45px;
            background: #fff;
        }

        textarea {
            border    : 1px solid #ddd;
            color     : @black2;
            background: #fff;
        }

        .picka-clear {
            height          : 47px;
            font-size       : 12px;
            background-color: #dadada;
            padding         : 0px 15px;
        }
    }

    .select-operation {
        padding-bottom: 15px;

        .select-operation-container {
            height          : 45px;
            background-color: #fff;
            border-top      : 1px solid #ddd;
            border-left     : 1px solid #ddd;
            border-bottom   : 1px solid #ddd;

            >div {
                border-right: 1px solid #ddd;
            }
        }
    }
}

.mobile-list-image {
    padding-left: 15px;

    .list-image-title {
        padding-bottom: 5px;
        font-size     : 12px;
    }

    .list-image-container {
        overflow: hidden;
    }

    .list-image-item {
        float  : left;
        padding: 0px 15px 15px 0px;

        .image-item-container {
            background-color: #fff;
            overflow        : hidden;
            cursor          : pointer;

            img {
                display: block;
                width  : 100%;
                height : 100%;
            }
        }
    }
}

.mobile-operation {
    position  : fixed;
    width     : 100%;
    height    : 51px;
    left      : 0px;
    bottom    : 0px;
    background: #fff;
    border-top: 1px solid #ddd;

    .operation-container {
        width : 100%;
        height: 50px;
    }

    .vertical-line {
        height    : 50px;
        width     : 1px;
        background: #ddd;
    }
}