@import './base.less';
@import './flex.less';
@import './toast.less';
@import './input-popup.less';
@import './confirm-popup.less';
@import './drop-down-select-popup.less';

@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

body {
    position        : relative;
    width           : 100%;
    height          : 100%;
    padding         : 0px;
    margin          : 0px;
    font-size       : 14px;
    color           : @black2;
    background-color: #f1f1f1;
}

.windows-header {
    height       : 80px;
    padding      : 0px 35px;
    background   : #fff;
    border-bottom: 1px solid #ddd;

    .windows-header-title {
        font-weight : bold;
        padding-left: 5px;
        font-size   : 24px;
    }

    .windows-header-item {
        padding-right: 10px;

        span {
            display           : block;
            padding           : 12.5px 20px;
            font-size         : 16px;
            color             : @black2;
            border-radius     : 4px;
            cursor            : pointer;
            transition        : color 0.25s;
            -moz-transition   : color 0.25s;
            /* Firefox 4 */
            -webkit-transition: color 0.25s;
            /* Safari 和 Chrome */
            -o-transition     : color 0.25s;
            /* Opera */
            transition        : background 1s;
            -moz-transition   : background 1s;
            /* Firefox 4 */
            -webkit-transition: background 1s;
            /* Safari 和 Chrome */
            -o-transition     : background 1s;
            /* Opera */
        }
    }

    .windows-header-item:hover span {
        color     : @black1;
        background: rgba(0, 0, 0, 0.08)
    }

    .windows-header-division {
        padding-left : 7.5px;
        padding-right: 25px;
        height       : 35px;
        width        : 1px;

        span {
            display   : block;
            width     : 1px;
            height    : 100%;
            background: #ddd;
        }
    }

    .windows-header-portrait {
        padding-right: 15px;
        cursor       : pointer;


        .portrait-left {
            width        : 40px;
            height       : 40px;
            border-radius: 40px;
            border       : 1px solid #ddd;
            overflow     : hidden;

            img {
                display: block;
                width  : 40px;
                height : 40px;
            }
        }

        .portrait-right {
            padding-left: 15px;

            .portrait-describe-top {
                font-size: 16px;
                color    : @black1;
            }

            .portrait-describe-bottom {
                font-size: 12px;
                color    : @black3;
            }
        }
    }
}