@import './base.less';
@import './flex.less';
@import './toast.less';
@import './confirm-popup.less';
@import './input-popup.less';
@import './drop-down-select-popup.less';
@import './drop-down-select-tooltip.less';

@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

body {
    position        : relative;
    width           : 100%;
    height          : 100%;
    padding         : 0px;
    margin          : 0px;
    font-size       : 14px;
    color           : @black2;
    background-color: #f1f1f1;
}

.windows {
    .mind {
        padding: 25px;

        .mind-container {
            width: 960px;

            .title-input {
                padding         : 15px;
                height          : 32px;
                background-color: #fff;

                input {
                    font-size: 18px;
                }

                .title-id {
                    padding    : 15px;
                    font-size  : 18px;
                    font-weight: bold;
                    color      : @black1;
                }
            }

            .edit-separation {
                height: 15px;
            }

            .edit-mind-description {
                font-size: 12px;
            }

            .multi-function {
                padding-bottom: 5px;

                .multi-function-add {
                    padding    : 5px 15px;
                    font-weight: bold;
                    cursor     : pointer;
                }
            }

            .multi-function-item {
                height       : 32px;
                background   : #fff;
                border-bottom: 1px solid #ddd;

                .multifunction-item-jump,
                .multifunction-item-bind,
                .multifunction-item-del {
                    width      : 75px;
                    font-weight: bold;
                    cursor     : pointer;
                }
            }

            .content-input {
                background-color: #fff;

                textarea {
                    height: 120px;
                    color : @black2;
                }
            }
        }

        .mind-operating {
            padding-left: 25px;

            .mind-operating-container {
                width: 320px;
            }

            .mind-operating-item {
                padding-bottom: 15px;

                .operating-item-container {
                    padding         : 15px;
                    background-color: #ffffff;
                    cursor          : pointer;
                }

                .operating-item-container:hover {
                    background-color: #1890ff;
                    color           : #fff;
                }

                .operating-item-container:active {
                    background-color: #f5222d;
                }
            }

            .mind-operating-title {
                font-size     : 12px;
                padding-bottom: 5px;
            }
        }
    }
}

.mobile {
    .item {
        padding: 0px 15px 15px 15px;

        .item-description {
            font-size: 12px;
        }

        .item-container {
            border          : 1px solid #ddd;
            background-color: #fff;
            min-height      : 45px;

            textarea {
                height: 120px;
                color : @black2;
            }
        }
    }

    .title {
        padding-top: 25px;

        .title-id {
            width        : 65px;
            padding-right: 15px;
        }
    }

    .nodes-operating {
        padding-bottom: 400px;
    }

    .operation {
        position  : fixed;
        width     : 100%;
        height    : 51px;
        left      : 0px;
        bottom    : 0px;
        background: #fff;
        border-top: 1px solid #ddd;

        .operation-container {
            width : 100%;
            height: 50px;
        }
    }

    .nodes-operating,
    .operation {
        .vertical-line {
            height    : 50px;
            width     : 1px;
            background: #ddd;
        }
    }

    .multi-function {
        .multi-function-title .multi-function-add {
            padding-left: 15px;
            font-weight : bold;
        }

        .multi-function-item {
            height       : 32px;
            background   : #fff;
            border-bottom: 1px solid #ddd;

            .multifunction-item-jump,
            .multifunction-item-bind,
            .multifunction-item-del {
                width      : 75px;
                font-weight: bold;
                cursor     : pointer;
            }
        }
    }
}